
<div class="row" style="margin-top: 5px;">
<hr>
<h3>Recent Updates</h3>
<hr>
<ul>
	<li>
		July 1, 2024:<br>
		<a href="https://www.linkedin.com/posts/dukka-kc-ph-d-40871510_after-an-incredibly-enriching-tenure-at-michigan-activity-7202293020963069952-ktFx?utm_source=share&utm_medium=member_desktop">
			Dr. KC begins his position as Department Chair of the Computer Science Department
			at the Rochester Institute of Technology.
		</a>
		<hr>
	</li>
	<li>
		April 25, 2024:<br>
		<a href="https://academic.oup.com/bioinformatics/article/40/5/btae290/7658304">
		Our development of a protein crotonylation site predictor was accepted into the 
		International Society for Computational Biology's <i>Bioinformatics</i> journal.
		</a>
		<hr>
	</li>

	<li>
		November 6, 2023:<br>
		<a href="https://www.mdpi.com/1422-0067/24/21/16000">
		Our work on improving O-GlcNAc site prediction using protein language models 
		was published in the <i>International Journal of Molecular Sciences</i>.
		</a>
	</li>
</ul>
</div>

